DB_HOST=177.126.247.194
DB_PORT=5434
POSTGRES_DB=3s_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
DOWNLOADS_DIR=C:\Users\FINANCEIRO\Documents\boh-produtos\downloads
LOGS_DIR=./logs
DB_SCHEMA=public
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
